{% extends "list_base.html" %}


{% block body %}
<h2>好友列表</h2>
<p><a href="http://127.0.0.1:8000/chat/room/" title="已保存的群聊">群聊列表</a> <a href="http://127.0.0.1:8000/sex/count/"
                                                                         title="性别分布统计" target=_blank>分布统计</a></p>
<hr/>
{% for user in rsp_data.data %}
<blockquote>
    <p>昵称:{{ user.nickname }} <code>(备注:{{ user.RemarkName }})</code> <code>(城市:{{ user.City }})</code> <code>(性别:{{
        user.sex }})</code>
        <button class='msgButton' data-id="{{ loop.index0 }}">发送消息</button>
    </p>
    <p>个性签名: {{ user.signature }}</p>
    <p class="sendMsg">
        <input type="text" class="wait_time" value="0">多少分钟后发送<br>
        <input type="text" class="times" value="1">发送次数<br>
        <input type="text" class="split_time" value="0">每次发送间隔时间<br>
        <input type="text" class="msg" value="">内容 <br>
        <button data-name={{ user.UserName }} data-id={{ loop.index0 }} class='submitMsg'>提交</button>
    </p>
</blockquote>
<hr/>
{% endfor %}

{% endblock body %}


{% block js %}
<script>

    //封装个each方法
    function each(list, callback) {
        for (var i = 0; i < list.length; i++) {
            callback(i, list[i]);
        }
    }

    //隐藏消息框
    var sendMsg = document.getElementsByClassName('sendMsg');
    each(sendMsg, function (index, obj) {
        obj.style.display = "none";
    })

    //点击打开消息框
    var msgButton = document.getElementsByClassName('msgButton');
    each(msgButton, function (index, button) {
        button.onclick = function () {
            var id = button.getAttribute('data-id');
            if (parseInt(id) == 0) {
                alert('无法给自己发送消息');
            } else {
                if (button.innerHTML == "发送消息") {
                    sendMsg[id].style.display = "block"
                    button.innerHTML = "隐藏";
                } else {
                    sendMsg[id].style.display = "none"
                    button.innerHTML = "发送消息";
                }
            }
        };
    })


    //发送消息
    submitMsg = document.getElementsByClassName('submitMsg');
    each(submitMsg, function (index, submit) {
        submit.onclick = function () {
            var username = submit.getAttribute('data-name');
            var times = submit.parentNode.getElementsByClassName('times')[0].value
            var wait_time = submit.parentNode.getElementsByClassName('wait_time')[0].value
            var split_time = submit.parentNode.getElementsByClassName('split_time')[0].value
            var msg = submit.parentNode.getElementsByClassName('msg')[0].value

        }
    })


</script>
{% endblock js %}